:root {
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --cyan-400: #22d3ee;
  --cyan-500: #06b6d4;
  --purple-400: #c084fc;
  --purple-500: #a855f7;
}

.text-gradient-title {
  background-image: linear-gradient(to right, #22d3ee, #a855f7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
