<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="p-2">
  <div class="grid">
    <div class="col-12 py-4 px-6">
      <p-card>
        <div class="grid">
          <div class="col-4">
            <img src="/assets/images/mi_retrato.jpg" alt="" />
          </div>
          <div class="col-8 p-4">
            <div class="grid">
              <div class="col-12 align-self-center">
                <h1>Christian Reyes</h1>
              </div>

              <div class="col-12">
                <h2>Software Engineering</h2>
              </div>

              <div class="col-12">
                <p>
                  “Software engineer specializing in modern web development.
                  Proficient in JavaScript frameworks such as Angular and React,
                  as well as TypeScript to write clean and maintainable code. My
                  experience in building web applications allows me to create
                  intuitive and efficient user interfaces. In addition, I have
                  skills in Unity and C# to develop prototypes and interactive
                  experiences.”
                </p>
              </div>
            </div>
          </div>
        </div>
      </p-card>
    </div>

    <div class="col-12 px-6">
      <p-card>
        <div class="grid">
          <div class="col-12">
            <h2>Work Experience</h2>
          </div>

          <div class="col-12">
            <p>
              "Accenture me proporcionó un entorno de aprendizaje continuo donde
              pude aplicar mis conocimientos en front-end y adquirir nuevas
              habilidades. Trabajando en proyectos de gran escala, aprendí a
              adaptarme a los cambios rápidamente y a colaborar con equipos
              distribuidos geográficamente."
            </p>
          </div>
        </div>
      </p-card>
    </div>

    <div class="xl:col-6 lg:col-6 md:col-12 sm:col-12 col-12 px-6">
      <div class="col-12">
        <h3>Custom Software Engineering</h3>
      </div>
      <p-card>
        <div class="grid">
          <div class="col-12">
            <h5>Marzo 2023- Now</h5>
          </div>
          <div class="col-12">
            <ion-list [inset]="true">
              <ion-item>
                <ion-label>
                  Implemented new critical workflows in the application,
                  optimizing processes by 20% and reducing response times
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  Designed and implemented an intuitive user interface that
                  increased user satisfaction by 18%, according to feedback
                  surveys
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  Developed and implemented a demo version without backend
                  requests for new users
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  Technologies used: Angular, Ionic, PrimeNg, RXJS, Cordova,
                  agile methodologies (Scrum)
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </p-card>
    </div>

    <div class="xl:col-6 lg:col-6 md:col-12 sm:col-12 col-12 px-6">
      <div class="col-12">
        <h3>Intership Software Developper</h3>
      </div>
      <p-card>
        <div class="grid">
          <div class="col-12">
            <h5>Sept iembre 2022- Marzo 2023</h5>
          </div>
          <div class="col-12">
            <ion-list [inset]="true">
              <ion-item>
                <ion-label>
                  Implemented mock data for REST requests (to streamline
                  development processes).
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  Proactively resolved errors and performed constant updates to
                  ensure optimal application performance.
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  Technologies used: Angular, Ionic, PrimeNg, RXJS, Cordova,
                  agile methodologies (Scrum).
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </p-card>
    </div>

    <div class="col-12 px-6">
      <div class="col-12">
        <h3>Technologies</h3>
      </div>
      <p-card>
        <div class="grid">
          <div class="col-6">
            <h5>Frameworks</h5>

            <ion-list [inset]="true">
              <ion-item>
                <ion-label>Angular</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Ionic</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>React</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Nextjs</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Laravel</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Unity</ion-label>
              </ion-item>
            </ion-list>
          </div>

          <div class="col-6">
            <h5>Software</h5>

            <ion-list [inset]="true">
              <ion-item>
                <ion-label>Javascript</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Typescript</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Git</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Rxjs</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Bootstrap</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>PrimeNg</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </p-card>
    </div>

    <div class="col-12 px-6">
      <h3>Skills</h3>
    </div>

    <div class="xl:col-6 lg:col-6 md:col-12 sm:col-12 col-12 px-6">
      <p-card>
        <div class="grid">
          <div class="col-12">
            <h4>Language</h4>
            <div class="row">
              <div class="col-12">
                <ion-list [inset]="true">
                  <ion-item>
                    <ion-label>Spanish</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>French</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>English</ion-label>
                  </ion-item>
                </ion-list>
              </div>
            </div>
          </div>
        </div>
      </p-card>
    </div>

    <div class="xl:col-6 lg:col-6 md:col-12 sm:col-12 col-12 px-6">
      <p-card>
        <div class="grid">
          <div class="col-12">
            <h4>Expertise</h4>
            <div class="row">
              <div class="col-12">
                <ion-list [inset]="true">
                  <ion-item>
                    <ion-label>Critical Thinking</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label> Communication Skills </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label> Adaptability and Flexibility </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label> Problem-Solving </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label> Curiosity and Initiative </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label> Teamwork </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label> Ethics and Responsibility </ion-label>
                  </ion-item>
                </ion-list>
              </div>
            </div>
          </div>
        </div>
      </p-card>
    </div>

    <div class="col-12 px-6">
      <div class="col-12">
        <h2>Contact</h2>
      </div>
      <p-card>
        <div class="grid">
          <div class="col-12">
            <div class="row">
              <h4>Please complete this form for more information.</h4>
            </div>
            <div class="row justify-content-center">
              <div class="card" style="width: auto">
                <div class="card-body">
                  <form style="max-width: 45rem">
                    <div class="col-12 p-3">
                      <ion-item>
                        <ion-input
                          label="Name"
                          labelPlacement="floating"
                          placeholder="Enter your name"
                        ></ion-input>
                      </ion-item>
                    </div>

                    <div class="col-12 p-3">
                      <ion-item>
                        <ion-input
                          label="Email"
                          labelPlacement="floating"
                          placeholder="Enter your email"
                          type="email"
                        ></ion-input>
                      </ion-item>
                    </div>

                    <div class="col-12 p-3">
                      <ion-item>
                        <ion-textarea
                          label="What can I do for you?"
                          labelPlacement="floating"
                          [autoGrow]="true"
                          placeholder="What can I do for you?"
                        ></ion-textarea>
                      </ion-item>
                    </div>

                    <div class="col-12 p-4">
                      <ion-button style="width: 100%; height: 3rem"
                        >Send</ion-button
                      >
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</ion-content>
