<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="6">
      <img src="/assets/images/retrato.jpg" alt="" />
    </ion-col>
    <ion-col size="6">
      <ion-row>
        <ion-col size="12">
          <h1>Christian Reyes</h1>
        </ion-col>

        <ion-col size="12">
          <h2>Software Engineering</h2>
        </ion-col>

        <ion-col size="12">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum
            expedita itaque commodi harum ipsa totam sit tempore consectetur.
            Nesciunt obcaecati numquam perferendis sit laudantium saepe
            laboriosam repellat quibusdam iure aliquam!
          </p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <h2>My life</h2>
    </ion-col>

    <ion-col size="12">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
        officiis ratione, error quaerat alias tenetur eaque autem quos eveniet
        quia aliquam voluptatibus rerum incidunt, dolore omnis laudantium? A,
        ipsam eius.
      </p>
    </ion-col>

    <ion-col size="6">
      <ion-row>
        <ion-col size="12">
          <h3>About me</h3>
        </ion-col>
        <ion-col size="12">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
            officiis ratione, error quaerat alias tenetur eaque autem quos
            eveniet quia aliquam voluptatibus rerum incidunt, dolore omnis
            laudantium? A, ipsam eius.
          </p>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="6">
      <ion-row>
        <ion-col size="12">
          <h3>About me</h3>
        </ion-col>
        <ion-col size="12">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
            officiis ratione, error quaerat alias tenetur eaque autem quos
            eveniet quia aliquam voluptatibus rerum incidunt, dolore omnis
            laudantium? A, ipsam eius.
          </p>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="12">
      <ion-row>
        <ion-col size="12">
          <h2>Curriculum</h2>
        </ion-col>
        <ion-col size="12">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
            officiis ratione, error quaerat alias tenetur eaque autem quos
            eveniet quia aliquam voluptatibus rerum incidunt, dolore omnis
            laudantium? A, ipsam eius.
          </p>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="12">
      <ion-row>
        <ion-col size="12">
          <h2>Contact</h2>
        </ion-col>
        <ion-col size="12">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
            officiis ratione, error quaerat alias tenetur eaque autem quos
            eveniet quia aliquam voluptatibus rerum incidunt, dolore omnis
            laudantium? A, ipsam eius.
          </p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
