<ion-content class="p-2 pt-6">
  <div class="grid">
    <div class="col-12 pt-8">
      <app-hero-section></app-hero-section>
    </div>
    <!-- <div class="col-12 py-4 px-6">
      <p-card>
        <div class="grid">
          <div class="col-4">
            <img src="/assets/images/mi_retrato.jpg" alt="" />
          </div>
          <div class="col-8 p-4">
            <div class="grid">
              <div class="col-12 align-self-center">
                <h1>Christian Reyes</h1>
              </div>

              <div class="col-12">
                <h2>Software Engineering</h2>
              </div>

              <div class="col-12">
                <p>
                  “Software engineer specializing in modern web development.
                  Proficient in JavaScript frameworks such as Angular and React,
                  as well as TypeScript to write clean and maintainable code. My
                  experience in building web applications allows me to create
                  intuitive and efficient user interfaces. In addition, I have
                  skills in Unity and C# to develop prototypes and interactive
                  experiences.”
                </p>
              </div>
            </div>
          </div>
        </div>
      </p-card>
    </div> -->

    <div class="col-12 px-6">
      <app-skills-section></app-skills-section>
    </div>

    <div class="col-12 px-6">
      <app-projects-section></app-projects-section>
    </div>

    <div class="col-12 px-6">
      <app-work-experience></app-work-experience>
    </div>

    <div class="col-12 px-6">
      <app-contact-form></app-contact-form>
    </div>
  </div>
</ion-content>
